In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [14]:
npdf = np.random.randint(1,100,(100,5))

In [17]:
npdataframe = pd.DataFrame(data=npdf, columns=['A','B','C','D','E'])

In [127]:
#npdataframe

In [19]:
fnl_data = pd.DataFrame(data=np.random.randint(1,100,(50,4)), columns=['A','B','C','D'])

In [128]:
#fnl_data

# plotly

In [5]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [22]:
np.random.seed(42)

In [25]:
X = np.random.randint(1,100, 50)
Y = np.random.randint(1,100, 50)

# Scatter plot

In [36]:
data = [go.Scatter(x=X,
                   y=Y,
                   mode='markers',
                   marker=dict(size=12,
                              color='rgb(20,145,120)',
                              symbol='pentagon',
                              line={'width':2}
                              ))]
layout = go.Layout(title='First PLot',
                  xaxis={'title':'randomX'},
                  yaxis=dict(title='randomY'),
                  hovermode='closest')

In [37]:
fig = go.Figure(data=data,layout=layout)

In [38]:
#pyo.plot(data, filename='scatter.html')
pyo.plot(fig, filename='scatter.html')

'file://C:\\Users\\hdadmin\\scatter.html'

# Line Plot

In [25]:
np.random.seed(99)

In [27]:
X = np.linspace(0,1, 100)
Y = np.random.randn(100)

In [43]:
trace0 = go.Scatter(x=X,
                  y=Y+5,
                  mode='markers',
                  name='markers')
trace1 = go.Scatter(x=X,
                  y=Y,
                  mode='lines',
                  name='lines')
trace2 = go.Scatter(x=X,
                  y=Y-5,
                  mode='lines+markers',
                  name='linesMarkers')

In [44]:
data= [trace0,trace1,trace2]

In [51]:
layout = go.Layout(title='Line Charts',
                  xaxis={'title':'randomX'},
                  yaxis=dict(title='randomY'))

In [52]:
fig= go.Figure(data=data,layout=layout)

In [53]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# line chart plotly

In [60]:
df = pd.read_csv('C://Users//hdadmin//populations.csv')

In [76]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10,0,0,0,United States,308745538,308758105,309338421,311644280,313993272,...,0.000000,0.000000,0.000000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20,1,0,0,Northeast Region,55317240,55318350,55388349,55642659,55860261,...,-6.103092,-6.619089,-5.559570,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20,2,0,0,Midwest Region,66927001,66929794,66973360,67141501,67318295,...,-3.458531,-3.307295,-2.304640,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323
3,20,3,0,0,South Region,114555744,114563024,114869241,116060993,117291728,...,3.788037,3.592695,2.900528,5.544289,5.831747,5.362083,6.317310,7.336162,7.113818,6.304010
4,20,4,0,0,West Region,71945553,71946937,72107471,72799127,73522988,...,1.613450,2.099001,1.475519,2.798796,3.521423,3.396627,4.163576,5.067452,5.488965,4.737979

In [77]:
df2 = df.loc[df['DIVISION'] == '1']

In [79]:
df2.set_index('NAME', inplace=True)

In [80]:
list_of_pop_col = [col for col in df2.columns if col.startswith('POP')]

In [81]:
list_of_pop_col

['POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'POPESTIMATE2016',
 'POPESTIMATE2017']

In [82]:
df2 = df2[list_of_pop_col]

In [83]:
df2.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
Maine,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
Massachusetts,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
New Hampshire,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
Rhode Island,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639

In [84]:
data = [go.Scatter(x=df2.columns,
                  y=df2.loc[name],
                  mode='lines',
                  name=name) for name in df2.index]

In [85]:
pyo.plot(data)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# line chart plotly Exe

In [108]:
dfexe = pd.read_csv('2010YumaAZ.csv')

In [109]:
dfexe.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [110]:
days=['TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SATURDAY','MONDAY']

In [121]:
dataexe =[]

In [122]:
for day in days:
    trace = go.Scatter(x=dfexe['LST_TIME'],
                  y=dfexe[dfexe['DAY'] == day]['T_HR_AVG'],
                  mode='lines',
                  name=day)
    dataexe.append(trace)

In [124]:
layout = go.Layout(title='Daily temp avgs',
                  xaxis=dict(title='HOUR'),
                  yaxis=dict(title='Temperature'))

In [125]:
fig = go.Figure(data=dataexe, layout=layout)

dataexe = [go.Scatter(x=dfexe['LST_TIME'],
                  y=dfexe[dfexe['DAY'] == val]['T_HR_AVG'],
                  mode='lines',
                  name=val) for val in days]

In [126]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Bar Chart

In [129]:
df = pd.read_csv('2018WinterOlympics.csv')

In [130]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [131]:
trace1 = go.Bar(x=df['NOC'],
               y=df['Gold'],
               name='Gold',
               marker={'color':'#FFd700'})
trace2 = go.Bar(x=df['NOC'],
               y=df['Silver'],
               name='Silver',
               marker={'color':'#9EA0A1'})
trace3 = go.Bar(x=df['NOC'],
               y=df['Bronze'],
               name='Bronze',
               marker={'color':'#CD7F32'})

In [134]:
data = [trace1,trace2,trace3]
#layout = go.Layout(title='Medals') #for Nested Bar chart
layout = go.Layout(title='Medals', barmode='stack') #for Stacked Bar chart
fig = go.Figure(data=data,layout=layout)

In [139]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Bar Char Exec

In [136]:
df = pd.read_csv('mocksurvey.csv', index_col=0)

In [137]:
df

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [138]:
for response in df.columns:
    print(response)

Strongly Agree
Somewhat Agree
Neutral
Somewhat Disagree
Strongly Disagree

In [175]:
trace1 = [go.Bar(y=df.index,x=df[resp], orientation='h',name=resp) for resp in df.columns] # for horizontal bar chart
#trace1 = [go.Bar(x=df.index,y=df[resp],name=resp) for resp in df.columns] # for vertical bar chart

In [173]:
data = trace1
#layout = go.Layout(title='Medals') #for Nested Bar chart
layout = go.Layout(title='Survey Results', barmode='stack') #for Stacked Bar chart
fig = go.Figure(data=data,layout=layout)

In [174]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Bubble Chart

In [177]:
df = pd.read_csv('mpg.csv')

In [178]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [194]:
''' # bubble diameter based on cylinder
data = [go.Scatter(x=df['horsepower'],
                  y=df['mpg'],
                  text=df['name'],
                  mode='markers',
                  marker=dict(size=2*df['cylinders']))]
'''
# bubble diameter based on weight
data = [go.Scatter(x=df['horsepower'],
                  y=df['mpg'],
                  text=df['name'],
                  mode='markers',
                  marker=dict(size=df['weight']/100,
                              color=df['cylinders'],
                             showscale=True))]

In [195]:
layout = go.Layout(title='Bubble Chart',
                  xaxis=dict(title='Horse power'),
                  yaxis=dict(title='Mpg'))

In [196]:
fig = go.Figure(data=data,layout=layout)

In [197]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# bubble chart Exec

In [198]:
df = pd.read_csv('mpg.csv')

In [204]:
df[df['mpg'] == df['mpg'].min()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d

In [245]:
data = [go.Scatter(x=df['displacement'],
                  y=df['acceleration'],
                  text=df['name'],
                  mode='markers',
                  marker=dict(size=round(df['weight']/200),
                              #color=df['horsepower'],
                             #showscale=True
                             ))]

In [246]:
layout = go.Layout(title='Acceleration vs Cylinder',
                  xaxis=dict(title='Displacement'),
                  yaxis=dict(title='Acceleration'))

In [247]:
fig = go.Figure(data=data,layout=layout)

In [248]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Box Plot

In [249]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

In [254]:
data = [go.Box(y=y, boxpoints='all', jitter=0.3, pointpos=0)]

In [256]:
# showa only the outliers
data = [go.Box(y=y, boxpoints='outliers')]

In [257]:
pyo.plot(data)

'file://C:\\Users\\hdadmin\\temp-plot.html'

In [258]:
# Box plot 3
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

In [259]:
data = [go.Box(y=snodgrass,name='Snodgrass'),
       go.Box(y=twain,name='Twain')]

In [260]:
pyo.plot(data)

'file://C:\\Users\\hdadmin\\temp-plot.html'

In [262]:
#next sample with data

In [263]:
df = pd.read_csv('abalone.csv')

In [279]:
a = np.random.choice(df['rings'],40,replace=False)
b = np.random.choice(df['rings'],10,replace=False)

In [280]:
data = [go.Box(y=b,name='A'),
       go.Box(y=b,name='B')]

In [281]:
layout = go.Layout(title='2 random samples')

In [282]:
fig = go.Figure(data=data,layout=layout)

In [283]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Histogram

In [284]:
df = pd.read_csv('mpg.csv')

In [285]:
data = [go.Histogram(x=df['mpg'])]

In [286]:
layout = go.Layout(title='Histogram')

In [287]:
fig = go.Figure(data=data,layout=layout)

In [288]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

In [289]:
#sample two

In [301]:
data = [go.Histogram(x=df['mpg'], xbins=dict(start=0,end=50,size=5))]

In [302]:
layout = go.Layout(title='Histogram')
fig = go.Figure(data=data,layout=layout)

In [303]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Histogram Exec

In [304]:
df = pd.read_csv('abalone.csv')

In [305]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [306]:
data = [go.Histogram(x=df['length'], xbins=dict(start=0,end=1,size=0.02))]

In [307]:
layout = go.Layout(title='Histogram')
fig = go.Figure(data=data, layout=layout)

In [308]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Distribution Plots

In [309]:
import plotly.figure_factory as ff

In [310]:
x = np.random.randn(1000)

In [311]:
hist_data = [x]

In [312]:
group_lables = ['distplot']

In [313]:
fig = ff.create_distplot(hist_data,group_lables)

In [314]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

In [315]:
#sample dist plot

In [316]:
x1 = np.random.randn(200)-2
x2 = np.random.randn(200)
x3 = np.random.randn(200)+2
x4 = np.random.randn(200)+4

In [317]:
hist_data = [x1,x2,x3,x4]

In [319]:
group_lables = ['x1','x2','x3','x4']

In [320]:
fig = ff.create_distplot(hist_data,group_lables,bin_size=[.2,.1,.3,.4])

In [321]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

In [322]:
#sample dist plot

In [323]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

In [324]:
hist_data = [snodgrass,twain]

In [325]:
group_lables=['snodgrass','twain']

In [328]:
fig = ff.create_distplot(hist_data,group_lables,bin_size=[0.005,0.005])

In [329]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Distribution Plots Exec

In [330]:
df = pd.read_csv('iris.csv')

In [331]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [332]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [336]:
Iris_setosa = df[df['class'] == 'Iris-setosa']['petal_length']
Iris_versicolor = df[df['class'] == 'Iris-versicolor']['petal_length']
Iris_virginica = df[df['class'] == 'Iris-virginica']['petal_length']

In [337]:
hist_data = [Iris_setosa, Iris_versicolor, Iris_virginica]

In [338]:
group_lables=['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [341]:
fig = ff.create_distplot(hist_data,group_lables,bin_size=[0.5,0.5,0.5])

In [342]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# Heatmap Plot

In [359]:
#df = pd.read_csv('2010SantaBarbara.csv')
df = pd.read_csv('2010YumaAZ.csv')

In [360]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [361]:
#normal colour scale
#data = [go.Heatmap(x=df['DAY'],y=df['LST_TIME'],z=df['T_HR_AVG'].values.tolist())]

#brighter colour scale
data = [go.Heatmap(x=df['DAY'],y=df['LST_TIME'],
                   z=df['T_HR_AVG'].values.tolist(),
                  colorscale='Jet')]

In [362]:
layout = go.Layout(title='SB CA Temps')

In [363]:
fig = go.Figure(data=data,layout=layout)

In [364]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# multiple Heat map with subplots

In [374]:
df1 = pd.read_csv('2010SitkaAK.csv')
df2 = pd.read_csv('2010SantaBarbara.csv')
df3 = pd.read_csv('2010YumaAZ.csv')

In [375]:
trace1 = go.Heatmap(x=df1['DAY'],y=df1['LST_TIME'],
                   z=df1['T_HR_AVG'].values.tolist(),
                  colorscale='Jet', zmin=5,zmax=40)

trace2 = go.Heatmap(x=df2['DAY'],y=df2['LST_TIME'],
                   z=df2['T_HR_AVG'].values.tolist(),
                  colorscale='Jet', zmin=5,zmax=40)

trace3 = go.Heatmap(x=df3['DAY'],y=df3['LST_TIME'],
                   z=df3['T_HR_AVG'].values.tolist(),
                  colorscale='Jet', zmin=5,zmax=40)

In [376]:
from plotly import tools

In [382]:
fig = tools.make_subplots(rows=1,cols=3,subplot_titles=['Sitka AK', 'SB CA', 'Yuma Az'],shared_yaxes=False)

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]  [ (1,3) x3,y3 ]

In [383]:
fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)
fig.append_trace(trace3,1,3)

In [385]:
fig['layout'].update(title='Temp for 3 cities')

In [386]:
pyo.plot(fig)

'file://C:\\Users\\hdadmin\\temp-plot.html'

# HeatMap Exercise